body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

iframe {
  border: none;
  width: 100%;
}

#footer-frame {
  padding-top: 30px;
  border: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  bottom: 10px;
}

.container-form {
  width: 570px;
  height: 600px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}
h1 {
  color: #2d2c2c;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.form-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-size: 14px;
}

input,
select,
textarea {
  width: 97%;
  padding: 8px;
  border: 1px solid #d4d2d2b3;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: none;
}

/* Estilo para o wrapper de data e hora */
.data-hora-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

/* Estilos dos botões */
.botoes-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.btn-agendar {
  background-color: #185d36;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
}

.btn-cancelar {
  background-color: #185d36;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
}

/* lista de agendamentos */
.filtros {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filtro-data,
.filtro-data-especifica {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

h2 {
  color: #2d2c2c;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.lista-agendamentos {
  width: 570px;
  min-height: 570px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cards-container {
  display: grid;
  gap: 15px;
}

.card-agendamento {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.card-header {
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn-check-in {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.card-body {
  padding: 15px;
}

.card-body p {
  margin-bottom: 5px;
  font-size: 14px;
}

.card-footer {
  padding: 10px;
  background-color: #f8f9fa;
  display: flex;
  gap: 10px;
}

.btn-editar {
  background-color: #ffc107;
  color: #333;
}

.btn-excluir {
  background-color: #dc3545;
  color: white;
}

.btn-editar,
.btn-excluir {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Mensagem de nenhum agendamento
.mensagem-age {
  text-align: center;
  color: #666;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  margin: 10px 0;
} */