@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

:root {
  --first-color: #559346;
  --first-color-alt: #6cab5c;
  --title-color: hsl(220, 68%, 4%);
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(220, 15%, 66%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(220, 50%, 97%);
  --body-font: "Montserrat", system-ui;
  --big-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --tiny-font-size: 0.688rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --tiny-font-size: 0.75rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.login {
  position: relative;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.login__blob {
  display: none;
}

.login-titulo {
  font-size: var(--big-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 2rem;
}

.login-box {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--container-color);
  border-radius: 1rem;
}

.login-input {
  background: none;
  width: 100%;
  padding: 1.5rem 2.5rem 1.5rem 1.25rem;
  font-weight: var(--font-semi-bold);
  border: 3px solid transparent;
  border-radius: 1rem;
  z-index: 1;
  transition: border-color 0.4s;
}

.login-input:autofill {
  transition: background-color 6000s, color 6000s;
}

.login__icon {
  position: absolute;
  right: 1rem;
  font-size: 1.25rem;
  transition: color 0.4s;
}

.login__password {
  cursor: pointer;
  z-index: 10;
}

.login__forgot {
  display: block;
  width: max-content;
  margin: 1rem 0 0 auto;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
  transition: color 0.4s;
}

.login__forgot:hover {
  color: var(--first-color);
}

.login-button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding-block: 1.5rem;
  border-radius: 4rem;
  margin-block: 2rem;
  cursor: pointer;
  transition: background-color 0.4s, box-shadow 0.4s;
}

.login-button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 24px hsla(208, 92%, 32%, 0.3);
}

.social {
  margin-bottom: 2rem;
}

.social-titulo {
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-bottom: 1rem;
}

.social-img {
  width: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}

.social-link {
  width: 32px;
  height: 32px;
  background-color: var(--body-color);
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.1);
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  transition: transform 0.4s;
}

.social-link:hover {
  transform: translateY(-0.25rem);
}

.atalho-cadastro,
.atalho-login {
  text-align: center;
  font-size: var(--small-font-size);
}

.atalho-cadastro a,
.atalho-login a {
  background: none;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: color 0.4s;
}

.atalho-cadastro a:hover,
.atalho-login a:hover {
  color: var(--first-color-alt);
}

.login-input:focus ~ .login-box label {
  transform: translateY(-12px);
  font-size: var(--tiny-font-size);
}

.login-input:focus {
  padding-block: 2rem 1rem;
}

.login-input:not(:placeholder-shown).login-input:not(:focus)
  ~ .login-box
  label {
  transform: translateY(-12px);
  font-size: var(--tiny-font-size);
}

.login-input:not(:placeholder-shown).login-input:not(:focus) {
  padding-block: 2rem 1rem;
}

.login-input:focus {
  border-color: var(--first-color);
}

.login-input:focus ~ .login-box label,
.login-input:focus ~ .login__icon {
  color: var(--first-color);
}

@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

@media screen and (min-width: 540px) {
  .caixinha-login {
    width: 380px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 350px) and (max-height: 600px) {
  .login {
    height: 760px;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .caixinha-login {
    width: 460px;
    margin: initial;
  }
  .login__access {
    width: 600px;
  }
  .login-titulo {
    text-align: initial;
    margin-bottom: 3rem;
  }
  .login-button {
    margin-bottom: 3rem;
  }
  .login__group {
    grid-template-columns: repeat(2, 1fr);
  }
  .login__blob {
    display: block;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
  }
  .login__img {
    transform: translate(0rem, 0rem);
  }
}

select#funcao {
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

select#funcao:focus {
  border-color: #559346;
  background-color: #fff;
}

select#funcao option {
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}