iframe {
  border: none;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f4f4f9;
}

#header-frame {
  height: 80px;
}

#footer-frame {
  height: 400px;
}

#content {
  margin-top: 80px;
  margin-bottom: 400px;
}
