.custom-btn {
    background-color: #559346;
    color: white;
    border: none;
  }

  .custom-btn:hover {
    background-color: #6cab5c;
  }

  #divpai {
    display: flex;
    justify-content: space-between;
  }

  #buttons {
    display: flex;
    gap: 10px;
  }

  .custom-btn {
    background-color: #559346;
    color: white;
    border: none;
}

.custom-btn:hover {
    background-color: #6cab5c;
}

#divpai {
    display: flex;
    justify-content: space-between;
}