* {
  margin: 0;
  padding: 0;
  font-family: "futura md bt";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

#logo {
  color: #ffffff;
}

#caminhos {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.links {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  padding: 5px 0;
  position: relative;

  display: inline-block;
  color: #ffffff;
  margin: 0 10px;
  border: 3px solid transparent;
  text-transform: uppercase;
}
.links::before,
.links::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.6s ease;
}
.links::before {
  top: 0;
  left: 0;
  transform-origin: left;
}
.links::after {
  bottom: 0;
  right: 0;
  transform-origin: right;
}
.links:hover::before,
.links:hover::after {
  transform: scaleX(1);
}

#header-base {
  background: #559346;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
#header-base .logo {
  font-size: 27px;
  text-transform: uppercase;
  color: #fff;
}
